.cartTitle {
    font-size: 17px;
    font-weight: 700;
    color: #212121;
}

.cartBody {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
&::-webkit-scrollbar {
    background-color: transparent;
  }
    .cartProduct {
        width: 100%;
        margin-top: 24px;
        padding: 0 40px 24px;
        display: flex;
        gap: 20px;

        img {
            width: 92px;
            height: 92px;
            object-fit: cover;
        }

        .productContent {
            display: flex;
            gap: 25px;

            .productCont {
                width: 231px;

                .cartProductTitle {
                    font-size: 14px;
                    color: #212121;
                    font-family: 'Roborto', sans-serif;
                    margin-bottom: 4px;
                }

                .productSize {
                    font-size: 13px;
                    color: #212121B3;
                    font-family: 'Roborto', sans-serif;
                    margin-bottom: 4px;
                }

                .sale {
                    margin-top: 14px;
                    background: #212121;
                    padding: 3px 6px;
                    height: 44px;
                    display: flex;
                    align-items: center;

                    .saleText {
                        width: 100%;
                        color: #fff;
                        font-family: 'Roborto', sans-serif;
                        font-size: 11px;
                        text-transform: uppercase;
                        word-wrap: break-word;
                        font-weight: 600;
                        line-height: 20px;
                        letter-spacing: .5px;
                    }

                    .discountIcon {
                        height: 44px;
                        display: flex;
                        align-items: center;

                        .icon {
                            color: #fff;
                            font-size: 11px;
                            transform: rotate(90deg);
                            margin-right: 8px;
                        }
                    }
                }

                .productConter {
                    display: flex;
                    align-items: center;
                    height: 29px;
                    margin-top: 12px;

                    .productBtns {
                        width: 92px;
                        height: 100%;
                        display: flex;
                        border: 1px solid #212121;

                        .btncon {
                            border: none;
                            outline: none;
                            width: 28px;
                            background-color: #fff;
                            color: #212121;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 12px;
                            cursor: pointer;
                        }

                        .counterResult {
                            width: 36px;
                            font-size: 14px;
                        }
                    }

                    .remove {
                        margin-left: 12px;
                        font-size: 11px;
                        color: #212121B3;
                        text-decoration: underline;
                        transition: .3s ease;
                        cursor: pointer;

                        &:hover {
                            color: #212121;
                        }
                    }
                }
            }

            .productPrice {
                display: flex;
                flex-direction: column;

                .newPrice,
                .oldPrice {
                    font-family: 'Roborto', sans-serif;
                    font-size: 14px;
                }

                .newPrice {
                    color: #DE2A2A;
                    margin-bottom: 5px;
                }

                .oldPrice {
                    color: #212121B3;
                    text-decoration: line-through;
                }
            }
        }
    }
}

.cartFooter {
    width: 100%;
    height: 158px;
    padding: 20px 40px 40px;
    border-top: 1px solid #f3f3f3;
    box-shadow: 0 1px rgb(222, 222, 222) inset;

    .cartFooterText {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .textOne,
        .textTwo {
            margin-left: 12px;
            font-size: 13px;
            color: #212121B3;


        }

        .textOne {
            text-decoration: underline;
            transition: .3s ease;
            cursor: pointer;

            &:hover {
                color: #212121;
            }
        }
    }

    .cartCheckoutBtn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .square-separator {
            width: 2px;
            height: 2px;
            margin: 0 5px;
            background-color: #fff;
            display: inline-block;
        }

        @include globalbtn()
    }
}

.cartEmpty {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .cartBtn {
        height: 52px;
        @include globalbtn()
    }
}

@media(max-width:450px){
    .cartBody {
        .cartProduct {
            padding: 0 0px 0px;
            gap: 10px;
            .productContent {
                gap: 10px;
                flex-direction: column;
                .productCont {
                    width: 200px;
                    .cartProductTitle {
                        font-size: 13px;
                        padding: 0 5px;
                    }
    
                    .productSize {
                        font-size: 12px;
                    }
    
                    .sale {
                        display: none;
                    }
    
                    .productConter {
                        .productBtns {
                            width: 82px;
                            .btncon {
                                width: 26px;
                            }
    
                            .counterResult {
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .cartFooter {

        padding: 20px 10px 10px;
        .cartFooterText {
            flex-direction: column;
        }
    
        .cartCheckoutBtn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    .cartEmpty {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        .cartBtn {
            height: 52px;
            @include globalbtn()
        }
    }
    
}