.header {
  width: 100%;
  height: 100%;
  // background-color: transparent;
  position: relative;
  z-index: 99;
  transition: ease-out all 0.3s;

  background-color: #212121;
  // &:hover {
  // }

  .container {
    .row {
      justify-content: space-between;

      .logo {
        max-width: 250px;
        padding: 21px 0;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.2s ease-in-out;

        img {
          width: 100%;
          object-fit: contain;
        }
      }

      .navBar {
        .navList {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .navItem {
            text-transform: uppercase;
            margin-right: 32px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .a {
              font-weight: 700;
              font-size: 19px;
              color: #fff;
              position: relative;

              &::before {
                content: "";
                position: absolute;
                height: 100%;
                bottom: 0;
                width: 0;
                opacity: 0;
                height: 2px;
                transition: ease-out all 0.3s;
              }

              &:hover {
                &::before {
                  width: 100%;
                  background-color: white;
                  bottom: 0;
                  opacity: 1;
                }
              }
            }

            .dropdownMenu {
              opacity: 0;
              visibility: hidden;
              transition: .25s ease-in-out;
              width: 100%;
              height: auto;
              position: absolute;
              top: 121px;
              left: 0;
              background-color: #fff;

              .row {
                flex-wrap: wrap;
                width: 75%;
                justify-content: center;
                margin: 0 auto;
                padding: 48px 0;

                .shopDropdownList {
                  max-width: 16%;
                  flex: 0 0 16%;
                  padding-left: 39px;

                  a {
                    .listTitle {
                      margin-bottom: 16px;
                      font-size: 13px;
                      color: #212121;
                    }

                    .shopDropdownItem {
                      color: #212121;
                      text-transform: capitalize;
                      margin-bottom: 15px;
                      transition: opacity .25s ease-in-out;
                      font-size: 15px;

                      &:hover {
                        opacity: .7;
                      }
                    }
                  }
                }

              }
            }
          }

          .shopHover {
            &:hover {
              .dropdownMenu {
                opacity: 1;
                visibility: visible;

                @keyframes fadeIn {
                  0% {
                    opacity: 0;
                    transform: translateY(25px);
                  }

                  100% {
                    opacity: 1;
                    transform: translateY(0);
                  }
                }

                .shopDropdownList {
                  transform: translateY(0);
                  opacity: 0;
                  animation: fadeIn .5s ease forwards;
                }

                #a {
                  animation-delay: 0.1s;
                }

                #b {
                  animation-delay: 0.2s;
                }

                #c {
                  animation-delay: 0.3s;
                }

                #d {
                  animation-delay: .4s;
                }

                #e {
                  animation-delay: .5s;
                }
              }
            }
          }
        }
      }

      .userArea {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        
        .icon {
          color: #fff;
          font-size: 20px;
          a{
            color: #fff;
          }
        }
      }
    }
  }
}