.latestCardBox {
  width: 100%;

  .row {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .latestCard {
      flex: 0 0 30%;
      max-width: 30%;
      position: relative;
      overflow: hidden;
      margin-bottom: 25px;

      &:hover {
        .cardImg::before {
          background-color: black;
        }
      }

      a {
        .cardImg {
          z-index: 1;
          position: relative;
          width: 100%;
          transition: transform 0.5s ease;

          img {
            object-fit: cover;
            width: 100%;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: transparent;
            transition: background-color 0.5s ease;
          }

          &:hover {
            transform: scale(1.03);
          }
        }

        .cardInfo {
          position: absolute;
          z-index: 5;
          color: #fff;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .cardSubtitle {
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "Roboto", sans-serif;
            margin-bottom: 16px;
          }

          .cardTitle {
            font-size: 30px;
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            margin: 24px 0;
          }

          .button {
            @include globalbtn();
            background-color: #fff;
            .btn {
              color: red;
            }
          }
        }
      }
    }
  }
}

@media(max-width:1024px) {
  .latestCardBox {
    .row {
      gap: 18px;
      .latestCard {
        flex: 0 0 48%;
        max-width: 48%;
        margin-bottom: 0px;
        a {

          .cardInfo {
            .cardSubtitle {
              font-size: 13px;
              margin-bottom: 16px;
            }

            .cardTitle {
              font-size: 20px;
              margin: 24px 0;
            }

            .button {
              @include globalbtn($bgColor: #fff, $colors: red);
              .btn {
                font-size: 12px;
                height: 44px;
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width:980px) {
  .latestCardBox {
    .row {
      gap: 15px;
    }
  }
}

@media(max-width:830px) {
  .latestCardBox {
    .row {
      gap: 10px;
      .latestCard {
        flex: 0 0 100%;
      max-width: 100%;
      }
    }
  }
}
@media(max-width:680px) {
  .latestCardBox {
    .row {
      gap: 20px;
      .latestCard {
        flex: 0 0 100%;
      max-width: 100%;
      }
    }
  }
}
