.drawer{
.mobilHeader{
    padding: 30px;
    background: #212121;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    .close{
        font-size: 30px;
        color: white;
    }
    a{
        img{
           width: 150px;
        }
    }
}
.mobilList{
    height: 70%;
    padding-left: 30px;
    .mobilItem{
        padding-right: 30px;
        margin-bottom: 20px;
        border-bottom: 1px solid #21212172;
        a{
            font-size: 25px;
            font-weight: 600;
color: #212121;
            text-transform: uppercase;
        }
    }
}
.mobilFooter{
    border-top: 1px solid #21212172;
    padding: 30px;
    a{
        display: flex;
        align-items: center;
        gap: 15px;
    .accaunt{
            color: #212121;
            font-size: 25px;
        }
        p{
            font-size: 15px;
            color: #212121;
        }
    }
}
}