.loginPage {
    .container {
        .row {
            align-items: center;
            justify-content: center;

            .login {
                max-width: 850px;
                text-align: center;

                .loginTitles {
                    margin: 38px 0;

                    .loginTitle {
                        font-size: 48px;
                        margin: 48px 0 24px;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: -1;
                        font-family: Oswald, sans-serif;
                        color: #212121;
                    }
                }

                .loginForm {
                    display: flex;
                    flex-direction: column;
                    width: 460px;

                    .inp {
                        width: 100%;
                        position: relative;

                        input {
                            width: 100%;
                            height: 52px;
                            outline: none;
                            border: 1px solid #dedede;
                            margin-bottom: 10px;
                            padding: 15px;

                            &:focus {
                                border: #212121 1px solid;
                            }
                        }

                        .unfocused {
                            position: absolute;
                            top: 25%;
                            left: 15px;
                            font-size: 16px;
                            transition: top 0.3s, font-size 0.3s, background-color 0.3s;
                        }

                        .focused {
                            transition: top 0.3s, font-size 0.3s, background-color 0.3s;
                            position: absolute;
                            top: -5px;
                            left: 15px;
                            font-size: 12px;
                            background-color: #fff;
                        }

                        .icon {
                            position: absolute;
                            right: 15px;
                            top: 25%;
                        }
                    }


                    .loginBtn {
                        height: 52px;
                        @include globalbtn()
                    }

                    .createAccountlink, .loginEndText {
                        color: #212121B3;
                        font-size: 15px;
                        font-family: Roboto, sans-serif;
                        margin-top: 18px;
                    }

                    .createAccountlink {
                        margin-left: 8px;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}